@import url('/src/components/result/result.css');
@import url('/src/components/rating/rating.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --game-body-width: 100%;
  --game-body-max-width: 75vh;
  --game-body-bg-color: #bdad9e;

  --game-bg: #faf8ee;

  --cell-border-color: #bdad9e;
  --cell-bg-color: #cfc1b2;
  --cell-font-color: #796e64;

  --info-game-bg-color: #bdad9e;
  --info-font-color: #faf8ee;

  --btn-font-color: #faf8ee;
  --btn-bg-color: #927963;

  --font-color: #796e64;

  --font-size-cell: 70px;

  --game-header-height: 140px;
  --game-header-padding: 10px;

  --result-form-bg: #faf8ee;
  --result-form-border-color: #bdad9e;
  --border-radius-default: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  background-color: black;

  color: var(--font-color);
}

.btn {
  flex: 1 1 40%;

  padding: 15px;
  margin-left: 10px;

  outline: none;
  border: 1px solid var(--btn-bg-color);
  background-color: var(--btn-bg-color);
  border-radius: 5px;
  cursor: pointer;

  font-size: 16px;
  color: var(--btn-font-color);

  transition: 0.3s all;
}

.btn:hover {
  color: var(--btn-bg-color);
  background-color: var(--btn-font-color);
}
.btn:active {
  transform: scale(0.97);
}

/* Game */

.game {
  position: relative;
  width: var(--game-body-width);
  max-width: var(--game-body-max-width);
  padding: 0px 5px 5px 5px;

  aspect-ratio: 1 / 1.1;

  background-color: var(--game-bg);
  border-radius: var(--border-radius-default);

  user-select: none;
}

.game__body {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;

  border-radius: var(--border-radius-default);

  background-color: var(--game-body-bg-color);
}

.cell,
.game-cell {
  flex: 1 1 20%;
  aspect-ratio: 1 / 1;

  border: 5px solid var(--cell-border-color);
  background-color: var(--cell-bg-color);

  border-radius: var(--border-radius-default);
}

.game-cell {
  position: absolute;
  top: 0;
  left: 0;

  width: 20%;
  height: 20%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font-size-cell);
  color: var(--cell-font-color);

  transform: scale(1);

  transition: top 0.25s linear 0s, left 0.25s linear 0s;
}

.game-cell_color-color_2 {
  z-index: 2;
  background-color: #eee4da;
}
.game-cell_color-color_4 {
  z-index: 4;
  background-color: #ede0c8;
}
.game-cell_color-color_8 {
  z-index: 8;
  background-color: #f2b179;
}
.game-cell_color-color_16 {
  z-index: 16;
  background-color: #f59563;
}
.game-cell_color-color_32 {
  z-index: 32;
  background-color: #f67c5f;
}
.game-cell_color-color_64 {
  z-index: 64;
  background-color: #f65e3b;
}
.game-cell_color-color_128 {
  z-index: 128;
  background-color: #edcf72;
}
.game-cell_color-color_256 {
  z-index: 256;
  background-color: #edcc61;
}
.game-cell_color-color_512 {
  z-index: 512;
  background-color: #edc850;
}
.game-cell_color-color_1024 {
  z-index: 1024;
  background-color: #edc53f;
}
.game-cell_color-color_2048 {
  z-index: 2048;
  background-color: #edc22e;
}

.game-cell_animate-add {
  transform: scale(0);
  animation: add 0.15s ease-out 0.2s forwards;
}

@keyframes add {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes remove {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* game__header */

.game__header {
  height: var(--game-header-height);
  padding: var(--game-header-padding);
  padding-bottom: 0px;
}

.game__info {
  display: flex;
  align-items: center;

  width: 100%;
  margin-bottom: 10px;
}

.game__logo {
  flex: 1 1 40%;

  padding: 0 20px;

  font-size: 55px;
  font-weight: 700;
}

.info-game {
  flex: 1 1 31%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 10px;
  margin-left: 10px;

  background-color: var(--info-game-bg-color);
  border-radius: 5px;

  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--info-font-color);
}

.game__rules,
.info-game__name {
  flex: 1 1 40%;
  font-size: 18px;
}

.info-game__name {
  padding-left: 5px;
}

.game__rules span,
.info-game__name {
  font-weight: 700;
}

.info-game__score,
.info-game__time {
  flex: 1 1 60%;
}

.game__rules {
  flex: 1 1 50%;
  text-align: center;
}

.game__options-btn {
  flex: 1 1 auto;
  padding: 3px 9px;
  margin-left: 5px;
  font-size: 30px;
}

@media screen and (max-width: 500px), screen and (max-height: 640px) {
  :root {
    --game-header-height: 125px;
    --game-header-padding: 5px;
  }

  .game__logo {
    font-size: 45px;
  }

  .info-game {
    padding: 10px 0px;
  }
  .game__rules,
  .info-game__name {
    font-size: 16px;
  }
}

@media screen and (max-width: 440px), screen and (max-height: 520px) {
  :root {
    --font-size-cell: 50px;
    --game-header-height: 110px;
    --game-header-padding: 5px;
  }

  body {
    padding: 3px;
  }

  .game__rules {
    display: none;
  }

  .game__new-game-btn {
    flex: 1 1 80%;
    padding: 14px;
    margin: 0;
  }

  .game__options-btn {
    flex: 1 1 20%;
    padding: 3px 9px;
    margin-left: 10px;
    font-size: 30px;
  }
  .game__logo {
    padding: 0;
    font-size: 30px;
    text-align: center;
  }

  .info-game {
    display: block;
    padding: 0 5px;
  }
}
