@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Bold.ttf');
  font-weight: 700;
}

:root {
  --title-color: #212353;
  --text-color: #4b5d68;

  --link-color: #4b5d68;
  --link-hover-color: #212353;

  --max-width: 1248px;

  --button-bg-color: #9c69e2;
  --button-text-color: #fff;

  --about-bg-color: rgba(240, 99, 184, 0.15);

  --features-text-color: #4b5d68;

  --testimonials-bg-color: #9c69e2;
  --testimonials-text-color: #ffffff;

  --footer-border-color: #9c69e2;
  --footer-link-color: #9c69e2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  position: relative;
}

body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%) no-repeat;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: var(--white-color);
  padding: 0 10px;
}

@media (max-width: 480px) {
  body {
    padding: 0 5px;
  }
}

.section {
  max-width: 1120px;
  width: 100%;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 130%;
  color: var(--title-color);
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.text {
  color: var(--text-color);
  line-height: 160%;
  font-size: 1rem;
}

@media (max-width: 570px) {
  .title {
    font-size: 1.8rem;
    text-align: center;
  }
}

.header {
  display: flex;
  align-items: center;

  max-width: var(--max-width);
  padding: 4% 0 0 0;
  margin: 0 auto;
}

.logo {
  position: relative;
  top: 6px;
  width: 49px;
  height: 43px;
  margin-right: 9.5%;

  background: url('./assets/img/logo.png') center no-repeat;
}

.nav {
  max-width: 250px;
  width: 100%;
  height: 30px;
}

.nav-list {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: inherit;

  list-style-type: none;
}

.nav-list__item {
  position: relative;

  flex: 1 1 30%;
}

.nav-list__item:nth-child(2) {
  padding-left: 10px;
}

.nav-list__link {
  position: absolute;
  top: calc(50% - 1rem / 2);

  color: var(--link-color);
  font-size: 0.9rem;
}

.nav-list__link:hover {
  color: var(--link-hover-color);
  font-weight: 700;
}

@media (max-width: 768px) {
  .nav {
    max-width: 200px;
  }
}

.main {
  max-width: var(--max-width);
  margin: 0 auto;
}

.preview {
  position: relative;

  margin: 0 auto;
  padding: 7.5% 0 16% 0;
}

.preview__title {
  font-size: 4.45rem;
  max-width: 645px;
  line-height: 110%;
}

.preview__text {
  max-width: 380px;
  padding-bottom: 4%;
}

.preview__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 60px;

  background: var(--button-bg-color);
  border-radius: 50px;
  border: 2px solid var(--button-bg-color);

  color: var(--button-text-color);

  transition: 0.3s all;
}

.preview__button:hover {
  background: var(--button-text-color);
  color: var(--button-bg-color);
  border: 2px solid var(--button-bg-color);
}

.preview__img {
  position: absolute;
  bottom: 12%;
  right: 0px;
  z-index: -10;

  width: 71%;

  display: block;
}

@media (max-width: 768px) {
  .preview__title {
    font-size: 4rem;
  }
  .preview__text {
    max-width: 45%;
  }
  .preview__img {
    bottom: 20%;
  }
}
@media (max-width: 480px) {
  .preview__title {
    font-size: 2rem;
    text-align: center;
  }
  .preview__text {
    max-width: 100%;
    padding-bottom: 40%;
  }
  .preview__img {
    bottom: 22%;
    width: 90%;
  }
}

/* About */

.about {
  display: flex;
  gap: 6.5%;

  padding: 33px 1% 30px 1%;

  background-color: var(--about-bg-color);
  border-radius: 50px;
}

.about-img {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  max-width: 469px;
}

.about-img__img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.about-description {
  flex: 2 3 auto;
  padding: 8% 0 0 0;
  max-width: 485px;
}

.about-description__title {
  padding-bottom: 9%;
}

@media (max-width: 768px) {
  .about {
    padding: 3.5% 2.5% 3.5% 2.5%;
    gap: 1.5%;
  }
  .about-description {
    padding: 0;
  }
  .about-img {
    flex: 1 2 auto;
  }
}

@media (max-width: 570px) {
  .about {
    flex-direction: column;
    align-items: center;

    padding: 1.5% 1.5% 1.5% 1.5%;
  }
  .about-img {
    width: 65%;
    min-width: 250px;
  }
  .about-description {
    padding: 10px;
  }
}

/* Features */

.features {
  padding: 12.5% 0 12% 0;
}

.features__title {
  text-align: center;

  padding-bottom: 4.5%;
}

.features__text {
  max-width: 585px;
  margin: 0 auto;

  text-align: center;
}

.features-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  width: 100%;
  padding: 9% 0 0 0;
}

.features-item {
  flex: 1 1 540px;
  position: relative;

  max-width: 540px;

  height: inherit;
}

.features-item__wrap {
  position: relative;
  top: 9%;
  right: -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 43%;
  padding: 0% 0 10% 0;
  min-width: 140px;

  height: 360px;
}

.features-item_first {
  background: url('./assets/img/first.png') center/100% no-repeat;
}
.features-item_second {
  background: url('./assets/img/second.png') center/100% no-repeat;
}
.features-item_third {
  background: url('./assets/img/third.png') center/100% no-repeat;
}
.features-item_fourth {
  background: url('./assets/img/fourth.png') center/100% no-repeat;
}

.features-item__title {
  font-size: 1.35rem;
  font-weight: 400;
  color: var(--title-color);
}

.features-item__text {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 160%;
  color: var(--features-text-color);
}

.features-item__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 127px;

  color: #212353;
  font-size: 0.9rem;
}

.features-item__arrow {
  width: 20px;
  height: 14px;
}

@media (max-width: 480px) {
  .features-wrap {
    gap: 20px;
  }
  .features-item__wrap {
    height: 65vw;
  }

  .features-item__title {
    padding-bottom: 4%;
    font-size: 1rem;
  }

  .features-item__text {
    font-size: 0.7rem;
  }

  .features-item__link {
    justify-content: space-evenly;
  }
}

/* Testimonials */

.testimonials {
  padding: 8.5% 0 6% 7.5%;
  margin-bottom: 12%;
  max-height: 709px;

  background-color: var(--testimonials-bg-color);
  border-radius: 50px;

  overflow: hidden;
}

.testimonials__title {
  color: var(--testimonials-text-color);
}

.slider {
  padding-top: 9%;
}

.slides-wrap {
  position: relative;
  z-index: 10;

  min-height: 330px;
  margin-bottom: 5%;

  display: flex;
}

.slides-wrap::after {
  position: absolute;
  right: 0;
  display: block;

  content: '';

  width: 24%;
  height: 100%;

  background: linear-gradient(
    270deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
}

.item-wrap {
  position: absolute;

  display: flex;
  gap: 7%;

  width: 70%;
  max-width: 645px;
  height: 330px;
  overflow-x: auto;

  padding: 6% 5% 0 7%;

  background-color: #ffffff;
  box-shadow: 0px 20px 0px rgb(51 35 72 / 15%);
  border-radius: 20px;
}

.item-wrap:nth-child(1) {
  overflow-x: auto;
  flex-shrink: 0;
  left: 0;
  box-shadow: 0px 20px 0px rgb(51 35 72 / 30%);
}

.item-wrap:nth-child(2) {
  left: 75%;
}
.item-wrap:nth-child(3) {
  left: calc(2 * 72%);
}

.item-photo {
  width: 90px;
  height: 90px;

  border-radius: 50%;
}

.item-feedback {
  padding-top: 20px;
}

.item-feedback__name {
  font-weight: 700;
  color: #212353;
}

.item-feedback__link {
  font-size: 0.8rem;
  color: #9c69e2;
}

.item-feedback__text {
  padding-top: 20px;

  line-height: 180%;
}

.slider-control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 17px;
  padding-right: 74px;
}

.control-circles {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control-circles__circle {
  width: 5px;
  height: 5px;

  border-radius: 50%;
  background: #ffffff;

  cursor: pointer;
}

.control-circles__circle_active {
  width: 10px;
  height: 10px;

  background-color: #f063b8;
}

.control-arrows {
  display: flex;
  gap: 22px;
  height: 20px;
}

.control-arrows__arrow {
  width: 20px;

  cursor: pointer;
}

.control-arrows__arrow_active {
  width: 40px;
}

@media (max-width: 768px) {
  .slides-wrap {
    margin-bottom: 10%;
  }

  .item-wrap {
    width: 92%;
  }

  .slides-wrap::after {
    width: 0;
  }

  .item-wrap:nth-child(2) {
    left: 100%;
  }

  .slider-control {
    padding-right: 8%;
  }
}
@media (max-width: 480px) {
  .testimonials {
    padding: 4.5% 0px 4% 3%;
  }

  .item-wrap {
    width: 97%;
    padding: 6% 2% 0 2%;
  }
  .slider-control {
    padding: 0 30px;
  }
}

/* Footer */

.footer {
  border-top: 1px solid var(--footer-border-color);
}

.footer-wrap {
  display: flex;
  justify-content: space-between;

  position: relative;

  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 10.5% 10% 10% 0;
}

.footer-info {
  max-width: 250px;
  min-height: 354px;
}

.info {
  display: flex;
  width: 100%;
  padding-bottom: 54px;
}

.info__logo {
  width: 49px;
  height: 43px;

  background: url('./assets/img/logo.png') center no-repeat;
}

.info__name {
  font-weight: 700;
  font-size: 1.1rem;
  padding-left: 18px;
  line-height: 190%;
  color: var(--title-color);
}

.footer-info__address,
.footer-info___contacts,
.footer-info__license {
  font-size: 0.9rem;
  line-height: 180%;
  font-weight: 400;
  color: var(--title-color);
  padding-bottom: 17px;
}

.footer-info__address {
  font-weight: 500;
}

.footer-info__license {
  font-size: 0.65rem;
  padding: 20px 0 0 0;
}

.footer-social {
  max-width: 178px;
  padding-top: 13px;
}

.footer-social__title {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--title-color);

  padding-bottom: 36px;
}

.footer-social__wrap {
  display: flex;
  gap: 14px;

  width: 100%;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: #e9e9ee;

  transition: 0.5s background-color;
}

.footer-social__icon {
  height: 50%;

  fill: #fff;
}

.footer-social__link:hover {
  background-color: var(--footer-link-color);
}

@media (max-width: 768px) {
  .footer-wrap {
    padding: 10.5% 0 0 0;
  }
}
@media (max-width: 480px) {
  .footer-wrap {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }

  .footer-social__title {
    text-align: center;
    padding-bottom: 15px;
  }
}
